.toggleButton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    .toggleButtonLine {
        width: 30px;
        height: 2px;
        background-color: white;
    }
}